//==============================
//Header

header, .header{  
    @include clearfix;
//    @include legacy-pie-clearfix;
//    @include pie-clearfix;
	h1{
		// &:first-word{
		// 	color:red;
		// }
	}
}


.header{

	margin-bottom: 1em;
}// end header
	
	//basic styling for header and footer which are not the focus of this pen
.pageHeader,.pageFooter{
  background-color: #333;
  color: #eee;
  padding:1em .5em;
  
}

.pageHeader h1{color:#eee;}//modify color from blueprint typography




