//Google Font examples. You can remove these or uncomment them and change to fit your needs.
//@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans);




html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}